body {
    background-color: seagreen;
}
.card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    box-shadow: 0.2em 0.2em 0.5em #333;
    position: relative;
}
.btn {
    padding: 15px;
    position: absolute;
    top: auto;
    margin-left: 258px;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 0.5em #333;
}
.rank,
.suit {
    display: block;
    text-align: left;
}
.suitB {
    font-size: 3.3em;
    margin-bottom: -1.1em;
    position: absolute;
    top: .25em;
    left: .28em;
}
.suit:after {
    display: block;
    margin-top: -1.1em;
    text-align: center;
    white-space: pre;
    line-height: .9;
    font-size: 1.3em;
    word-spacing: -.05em;
}
.cardBox {
    margin: 50px 50px 20px;
    padding: 30px;
}
.plus {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 0 0 30px 180px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    box-shadow: 0.2em 0.2em 0.5em #333;
    font-size: 20px;
}
